@import url("eggfriedrice.css");

* {
  font-family: "Cartograph CF", "Symbols Nerd Font Mono", monospace;
  font-size: 13px;
  font-weight: 500;
  min-height: 0;
}

window#waybar {
  background: alpha(@bg, 0.7);
  color: @fg;
  border-bottom: 1px solid alpha(@fg_gutter, 0.5);
}

/* Reset all module styles */
#workspaces,
#window,
#clock,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#battery,
#tray {
  padding: 0 12px;
  margin: 0;
  background: transparent;
}

/* Workspaces - Active Only */
#workspaces {
  padding: 0 4px;
}

#workspaces button {
  padding: 0 5px;
  margin: 6px 2px;
  border-radius: 3px;
  font-size: 11px;
  color: @bg_dark;
  background: @yellow;
  border: none;
  font-weight: 600;
}

#workspaces button.urgent {
  background: @red;
  color: @bg_dark;
}

/* Active Window Title */
#window {
  color: @comment;
  font-weight: 400;
  padding-left: 8px;
}

/* Clock */
#clock {
  color: @fg;
  font-weight: 600;
}

/* CPU */
#cpu {
  color: @yellow;
}

/* Memory */
#memory {
  color: @blue;
}

/* Temperature */
#temperature {
  color: @green;
}

#temperature.critical {
  color: @red;
}

/* Network */
#network {
  color: @green;
}

#network.disconnected {
  color: @red;
}

/* Pulseaudio */
#pulseaudio {
  color: @fg;
}

#pulseaudio.muted {
  color: @red;
}

/* Separator */
#custom-separator {
  color: @comment;
  padding: 0 4px;
}

/* Battery */
#battery {
  color: @green;
}

#battery.charging {
  color: @yellow;
}

#battery.warning:not(.charging) {
  color: @yellow;
}

#battery.critical:not(.charging) {
  color: @red;
}

/* System Tray */
#tray {
  padding: 0 8px;
  margin: 5px 30px 5px 0;
  border: 1px solid alpha(@fg_gutter, 0.5);
  border-radius: 6px;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
}
